*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
$primary-color: black;

header{
  background: $primary-color;
  height: 130px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;

  img{
    padding: 10px;
  }
}

